@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
* {
    padding: 0;
    margin: 0;
}


/* _____ COLOUR SCHEME _____ */

:root {
    --color1: #290404;
    --color2: #330808;
    --color3: #c79127;
    --color4: #fff;
    --color5: #d1cdcd;
    --color6: #1b0303;
}


/* _____ BACKGROUND _____ */

body {
    background: var(--color1);
    background: -webkit-linear-gradient(var(--color1), var(--color2));
    background: -o-linear-gradient(var(--color1), var(--color2));
    background: -moz-linear-gradient(var(--color1), var(--color2));
    background: linear-gradient(var(--color1), var(--color2));
    margin-bottom: 5%;
    padding-bottom: 5%;
    font-family: 'Press Start 2P', cursive;
    color: var(--color4);
}

.golden-menu {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: space-between;
    align-items: center;
    margin: 2vh 3vw;
    padding: 1vh 2vw;
    border: 3px solid var(--color3);
}

.golden-menu p {
    margin: 0;
    align-self: center;
}

.golden-menu div:not(.heart-container) {
    max-height: 30px;
    border: 3px solid #fff;
}

.golden-menu img {
    max-height: 24px;
}

#heart-2 {
    margin-left: -16px;
}

.white-border {
    width: 75%;
    display: flex;
    justify-content: space-around;
}

.white-border div {
    padding-right: 16px;
}