@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
* {
    padding: 0;
    margin: 0;
}

body {
    background-color: #444;
    margin-bottom: 7%;
    padding-bottom: 7%;
    font-family: 'Press Start 2P', cursive;
    color: #eaf7b5;
}

.container {
    width: 90%;
    margin: auto;
    padding: 0;
    margin-top: 7%;
    text-align: center;
    font-size: 20px;
}

.typing {
    padding-bottom: 100px;
}

.button-container {
    display: flex;
    box-shadow: 0px 0px 3px 3px #3d3d3d;
}

p {
    margin-bottom: 0;
    font-size: small;
}

#storyText {
    padding-bottom: 50px;
}

img {
    width: 94%;
    border-radius: 3%;
    margin-bottom: 8%;
}

.choice {
    margin-top: 25px;
    color: #b8c058;
}


/* Buttons */

.btn {
    width: 80%;
    font-size: 20px;
    margin-top: 25px;
    border-radius: 0;
    border: none;
    color: #f8f8c8;
    background: #b8c058;
    box-shadow: inset -5px -5px 0px 0px #808840 !important;
}

.btn:before {
    top: -5px;
    left: 0;
    border-top: 5px #3d3d3d solid;
    border-bottom: 5px #3d3d3d solid;
}

.btn:after {
    left: -5px;
    top: 0;
    border-left: 5px #3d3d3d solid;
    border-right: 5px #3d3d3d solid;
}

.btn.header {
    width: 50%;
    font-size: 20px;
    margin-top: 0px;
    background-color: #b8c058;
    color: #f8f8c8;
    border-radius: 0px;
}

.btn.header:first-child {
    border-right: 2px solid #000000bf;
}

.btn.header.damaged {
    color: #808840 !important;
    background: #405028 !important;
    box-shadow: inset -5px -5px 0px 0px #2b361b !important;
}

.btn.header.dead {
    color: #405028 !important;
    background: #2b361b !important;
    box-shadow: inset -5px -5px 0px 0px #1b1b12 !important;
}

.btn.header.health:focus {
    color: #f8f8c8 !important;
    background: #b8c058 !important;
    box-shadow: inset -5px -5px 0px 0px #808840 !important;
}

.btn.header.speed.fast,
.btn.header.speed.instant,
.btn.header.speed.fast:hover,
.btn.header.speed.fast:active,
.btn.header.speed.fast:focus,
.btn.header.speed.instant:hover,
.btn.header.speed.instant:active,
.btn.header.speed.instant:focus {
    color: #b8c058 !important;
    background: #f8f8c8 !important;
    box-shadow: inset -5px -5px 0px 0px #c7c7b7 !important;
}

.btn.header.speed.normal,
.btn.header.speed.normal:hover,
.btn.header.speed.normal:active,
.btn.header.speed.normal:focus {
    color: #f8f8c8 !important;
    background: #b8c058 !important;
    box-shadow: inset -5px -5px 0px 0px #808840 !important;
}

.btn.header.speed.slow,
.btn.header.speed.slow:hover,
.btn.header.speed.slow:active,
.btn.header.speed.slow:focus {
    color: #808840 !important;
    background: #405028 !important;
    box-shadow: inset -5px -5px 0px 0px #2b361b !important;
}

.invisible {
    display: none;
}

.disabled {
    user-select: none;
}


/* Secondary button style */

.btn.btn-secondary {
    display: initial;
    position: fixed;
    top: 85%;
    left: 10%;
}

.btn.btn-secondary:hover {
    box-shadow: inset -7.5px -7.5px 0px 0px #808840;
    color: #f8f8c8;
    background: #b8c058;
}

.btn.btn-secondary:active,
.btn.btn-secondary:focus {
    box-shadow: inset -5px -5px 0px 0px #808840 !important;
    background: #f8f8c8 !important;
    color: #b8c058 !important;
}

.btn.btn-secondary:before,
.btn.btn-secondary:after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    box-sizing: content-box;
}

.btn.btn-secondary:before {
    top: -5px;
    left: 0;
    border-top: 5px #3d3d3d solid;
    border-bottom: 5px #3d3d3d solid;
}

.btn.btn-secondary:after {
    left: -5px;
    top: 0;
    border-left: 5px #3d3d3d solid;
    border-right: 5px #3d3d3d solid;
}


/* Media Querries */

@media only screen and (min-width: 768px) {
    .container {
        width: 40%;
    }
}

@media only screen and (min-width: 1024px) {
    .container {
        width: 30%;
    }
}

@media only screen and (min-width: 1440px) {
    .container {
        width: 20%;
    }
}