@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
* {
    padding: 0;
    margin: 0;
}

html {
    height: 100%;
}


/* _____ COLOUR SCHEME _____ */

:root {
    --color1: #290404;
    --color2: #330808;
    --color3: #c79127;
    --color4: #fff;
    --color5: #d1cdcd;
    --color6: #1b0303;
}


/* _____ MENU _____ */

.menu {
    position: absolute;
    width: 100%;
    height: 100%;
    background: var(--color2);
}

.hidden {
    display: none;
}


/* _____ BUTTONS _____ */

.btn.speed {
    margin: 0vh 3vw 2vh 3vw;
    padding: 1vh 2vw;
    border: 3px solid var(--color3);
    color: var(--color4);
    width: -webkit-fill-available;
    border-radius: 0px;
}

.button-container button {
    position: absolute;
    bottom: 3vh;
    font-size: large;
    color: var(--color4);
    background-color: unset;
    border: 3px solid var(--color3);
    padding: 1vh 2vw;
    width: 94vw;
}

.button-container button:active,
.button-container button:focus,
.button-container button:hover {
    border: 3px solid var(--color4);
    color: var(--color3);
    text-decoration: underline;
}


/* _____ TEXT CONTAINER _____ */

.text-container {
    max-height: 50vh;
    overflow: scroll;
    margin: 2vh 3vw;
}

.textfield p {
    font-size: small;
}

.textfield p::first-letter {
    font-size: 20px;
    color: var(--color3);
}


/* _____ BACKGROUND _____ */

body {
    background: var(--color1);
    background: -webkit-linear-gradient(var(--color1), var(--color2));
    background: -o-linear-gradient(var(--color1), var(--color2));
    background: -moz-linear-gradient(var(--color1), var(--color2));
    background: linear-gradient(var(--color1), var(--color2));
    font-family: 'Press Start 2P', cursive;
    color: var(--color4);
}

.golden-menu {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: space-between;
    align-items: center;
    margin: 2vh 3vw;
    padding: 1vh 2vw;
    border: 3px solid var(--color3);
}

.golden-menu p {
    margin: 0;
    align-self: center;
}

.golden-menu div:not(.heart-container) {
    max-height: 30px;
    border: 3px solid var(--color4);
}

.golden-menu img {
    max-height: 24px;
}

.white-border {
    width: 75%;
    display: flex;
    justify-content: space-around;
}

.white-border div {
    padding-right: 16px;
    align-self: end;
    display: flex;
}

.img-container img {
    width: 100%;
    max-height: 32vh;
}